<div class="container">
      <h5> Online REST API <a class="example-link" href="https://jsonplaceholder.typicode.com/users" target="_blank">
         https://jsonplaceholder.typicode.com/users</a> mit HttpClient konsummieren: &nbsp;&nbsp;    
    <button mat-raised-button color="accent" (click)="getUsersData()"> search Users</button></h5>
    <br>  

    <mat-card>


        <mat-card-content class="example-background">

            <br>
            <div>

                    
                    
                <mat-list [@listStagger]="users">
                    <div style="text-align: right;">
                        <!--set filter für die Suche-->
                        <mat-form-field>
                            <input [(ngModel)]="searchText" type="text" matInput placeholder="search By Name">
                        </mat-form-field>
                        <i class="material-icons">
                            search
                        </i>
                    </div>

                            
                    <mat-list-item *ngFor="let u of users | filter : searchText">
                        <mat-icon matListIcon>note</mat-icon>
                        <span *ngIf="showId.checked" matBadge="{{u.id}}" matBadgeColor="primary"></span>
                        <h3 matLine>
                            <a class="example-color" routerLink="/details/{{u.id}}">{{ u.name }}</a>
                        </h3>
                        <p matLine>
                            <span > {{u.email}} </span>
                            <span [ngStyle]="{'color':u.email=== 'Nathan@yesenia.net' ? 'green' : 'DarkBlue' }"> -- {{u.username | uppercase}} </span>
                        </p>
                    </mat-list-item>

                      </mat-list>

                <mat-checkbox #showId [checked]="isIdChecked">show Id:</mat-checkbox>


            </div>
        </mat-card-content>

    </mat-card>



    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    service konsumieren 
                </mat-panel-title>
          
            </mat-expansion-panel-header>


            <img src="../../assets/images/httpclient.png" />

        </mat-expansion-panel>
    </mat-accordion>



</div>

<br>