
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-color {
    color: brown ;
}

.example-background {
    background: ghostwhite;
}

.example-link {
    color: green;
    text-decoration: none;
}
