<div class="container">

  <div *ngIf="isrouterValue" class="jumbotron">
    <p style="text-align: center;">
      <button type="button" class="btn btn-info" (click)="toggleRouterValue()">Navigation mit dem Router: 4 Schritte </button>
    </p>
  </div>
  <div *ngIf="!isrouterValue" class="jumbotron" @explanerAnimation>

    <p class="col">
      <span matBadge="1" matBadgeOverlap="false"><h4> Definition von Routen in der Datei <b>app.routes.ts</b>:
        routes: path and component</h4></span>
    </p>

    <p class="col">
      <span matBadge="2" matBadgeColor="accent" matBadgeOverlap="false">
          <h4>hinzufügen von
        <b>RouterModule</b> in @NgModule.imports (s .h Architecture)</h4></span>
    </p>

    <p class="col">
      <span matBadge="3" matBadgeColor="primary" matBadgeOverlap="false">
          <h4>hinzufügen von
        <b>RouterOutlet</b>: Das Template der Root-Komponente definiert mit router-outlet den Platzhalter, in dem der Router
        die jeweils aktive Komponente platziert</h4></span>
    </p>

    <p class="col">
      <span matBadge="4" matBadgeColor="warn" matBadgeOverlap="false">
          <h4>Verlinkung im Template:
        <b>routerLink</b>: Die Direktive routerLink erzeugt einen Link, der zu einer der definierten Routen führt</h4></span>
    </p>

    <p class="col" style="text-align: center;">
      <span class="text-success">
        <h2>
          <img src="../../assets/images/baseline_thumb_up.png" /> Single-Page-Application </h2>
      </span>
    </p>


  </div>




  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          Routing
      </mat-panel-title>

    </mat-expansion-panel-header>
    <img src="../../assets/images/route.png" />

  </mat-expansion-panel>
  <br>

</div>