.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }


  .example-small-box, .example-large-box {
    display: block;
    align-items: left;
    justify-content: left;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
   
    background-color: hsla(189, 62%, 90%, 0.973);
  }
  
  .example-small-box {
    height: 100px;
    width: 100px;
  }
  
  .example-large-box {
    height: 300px;
    width: 300px;
    margin: auto;
  }
  .example-stepper-linlk{
    text-decoration: none;
    color: green;
  }