
<div class="jumbotron">

    <h5> Stepper als Beispiel für Angular Material:&nbsp; <a class="example-stepper-linlk" href="https://material.angular.io/" target="_blank">
      {{ titleMaterial }}</a>    
    </h5>
    <br>

  <mat-horizontal-stepper class="example-stepper" linear  #stepper>

    <mat-step [stepControl]="formGroup1">
      <form [formGroup]="formGroup1">

        <ng-template class="" matStepLabel>Fill out your name</ng-template>

        <mat-form-field>
          <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="formGroup2">
      <form [formGroup]="formGroup2">
        <ng-template matStepLabel>Fill out your address</ng-template>

        <mat-form-field>
          <input matInput placeholder="Adress" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>


      </form>
    </mat-step>


    <mat-step [stepControl]="formGroup3" optional>
      <form [formGroup]="formGroup3">
        <ng-template matStepLabel>your telephone number</ng-template>

        <mat-form-field>
          <input matInput placeholder="Telephon" formControlName="thirtCtrl">
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>

      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button *ngIf="!isFormfilled" mat-button color="primary" (click)="checkFormfilled()">overview </button>
      </div>

     

    </mat-step>



  </mat-horizontal-stepper>

  <br>
  <div>

    

    <mat-card class="example-large-box" *ngIf="isFormfilled">

        <mat-card-header>
           
            <mat-card-title>overview</mat-card-title>
            <mat-card-subtitle>personal data</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
      <ul>
        <li>
          <strong>Name: </strong> {{formGroup1.controls.firstCtrl.value}}</li>
        <li>  
          <strong>street: </strong>{{formGroup2.controls.secondCtrl.value}}</li>
        <li>  
          <strong>phone: </strong>{{formGroup3.controls.thirtCtrl.value}}</li>

      </ul>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button></button>
        <button mat-button></button>
        <button mat-mini-fab color="primary">save</button>
      </mat-card-actions>

     


    </mat-card>

  </div>


</div>