


<br>
  <!--
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource"  matSort>
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let user"> {{user.id}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="fname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let user"> {{user.fname}} </td>
      </ng-container>
  
      <!-- Vorname Column
      <ng-container matColumnDef="lname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vorname </th>
        <td mat-cell *matCellDef="let user"> {{user.lname}} </td>
      </ng-container>
  
   
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator 
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>

  </div>
-->

        <table class="table">
  
  
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Vorname</th>
              <th>DelAktion</th>
              <th>EditAktion</th>
       
            </tr>
          </thead>
  
          <tbody>
  
          <tr *ngFor="let us of users">
   
            <td>{{us.id}}</td>
  
            <td>{{us.fname}}</td>
  
            <td>{{us.lname}}</td>

            
            <td><button mat-mini-fab color="accent" (click)="deleteUser(us)" >delete</button></td>
            <td> <button mat-mini-fab color="primary" (click)="updateUser(us)">edit</button></td>

          </tr>
        </tbody>
  
        </table>
  
     
        <button mat-raised-button color="primary" (click)="createUser(us)">new User</button>
