<div class="jumbotron" style="width: 60%;margin:0 auto;">
  <form [formGroup]="registerForm">
    {{registerForm.value | json}}
    <div class="form-group">
      <lable>
        <h4>Benutzername</h4>
      </lable>
      <input type="text" placeholder="aziz" formControlName="userName" class="form-control">
    </div>
    <div class="alert" *ngIf="!registerForm.controls['userName'].valid && registerForm.controls['userName'].touched">this is requierd</div>

    <div class="form-group">
      <lable>
        <h4>Email</h4>
      </lable>
      <input type="email" placeholder="aziz@email.com" formControlName="email" class="form-control">
    </div>

    <div class="alert" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">
      Invalid email</div>

    <div class="form-group">
      <lable>
        <h4>Anrede (Bitte wählen)</h4>
      </lable>
      <select class="custom-select"  formControlName="gender">
        <option value="frau">Frau</option>
        <option value="herr">Herr</option>
      </select>
    </div>

    <div class="alert" *ngIf="!registerForm.controls['gender'].valid && registerForm.controls['gender'].touched">
      Bitte wählen</div>


    <div class="form-group">
      <lable>
        <h4>Passwort</h4>
      </lable>
      <input type="password" placeholder="******" formControlName="password" class="form-control">

    </div>
    <div class="alert" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
      requiered are letters (both uppercase and lowercase) and numbers
    </div>

    <div class="form-group">
      <lable>
        <h4>Passwort bestätigen</h4>
      </lable>
      <input type="password" placeholder="******" formControlName="confirmPassword" class="form-control">

    </div>


    <div class="alert" *ngIf="!registerForm.controls['confirmPassword'].valid  && registerForm.controls['confirmPassword'].touched">
      Passwort stimmt nicht mit confirmPassword überein
    </div>

    <div>
      <button class="btn btn-primary" [disabled]="!registerForm.valid">validieren</button>
    </div>
  </form>
 
</div>


