
<div class="jumbotron" style="width: 60%;margin:0 auto;">
  
    <div *ngIf="errorMessage" class="alert">
        <strong>Warning!</strong> {{errorMessage}}
      </div>
   

  <form [formGroup]="loginForm" (ngSubmit)="login()">


    <h1>Anmeldung </h1>

    <div class="form-group">
    <lable><h4>Benutzername</h4>
      <input type="text" formControlName="benutzerName"class="form-control">
    </lable>
  </div>
    <div class="alert" *ngIf="!loginForm.controls['benutzerName'].valid && loginForm.controls['benutzerName'].touched">
      Benutzername ist erforderlich</div>

    <div class="form-group">
    <lable><h4>Password</h4> 
      
      <input type="password" formControlName="password" class="form-control">

    </lable>

    <div class="alert" *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
      Passwort ist erforderlich</div>

  </div>  
    <input type="submit" class="button expanded" value="Anmelden" [disabled]="!loginForm.valid">


  </form>
  <!--
  <a class="example-register-linlk" [routerLink]="['/register']"> Neu registrieren</a>
  -->
</div>


<!--
<ng-template #logininfo>

  <div class="form-container">
    <div class="row columns">

      <h1>benutzerName:  {{benutzerName}}</h1>
      <h1>: benutzerName: {{password}}</h1>

        <h1>loginSuccess: {{loginSuccess}}</h1>


    </div>

  </div>

</ng-template>
-->
