<nav *ngIf="loginSuccess === 'true'" class="navbar navbar-dark bg-dark mb-5">

  <div class="navbar-expand mr-auto">
    <!--
    <div class="navbar-nav" *ngIf="isCollapsed">
      <a class="nav-item nav-link active" href="home">Home</a>
      <a class="nav-item nav-link active" href="arch">Architecture</a>
      <a class="nav-item nav-link active" href="stepper">Stepper</a>
      <a class="nav-item nav-link active" href="event">Binding</a>
      <a class="nav-item nav-link active" href="service">Service</a>
      <a class="nav-item nav-link active" href="httpclient">HttpClient</a>
      <a class="nav-item nav-link active" href="router">Routing</a>

    </div>
    -->
    <div class="navbar-nav" *ngIf="!isCollapsed">

      <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
        <div class="container">
          <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item">
              <a class="nav-link" routerLink="home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="arch">Architecture</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="stepper">Stepper</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="event">Binding</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="service">service</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="httpclient">httpclient</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="router">Routing</a>
            
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="listuser">ListUser</a>
            
            </li>

        
          </ul>
        </div>
      </nav>


    </div>
  </div>

  <button mat-button (click)="isCollapsed = !isCollapsed">
      {{!isCollapsed ? ' Disable Routing' : 'Enable Routing'}}
    </button>
</nav>

<br>

<div class="container">
    
  <h4 class="titel-Color"> {{ title }}</h4>

  <h5 class="date-position"> {{ currentDate | date: 'dd/MM/yyyy' }}</h5>

  
  <router-outlet *ngIf="loginSuccess === 'true'"></router-outlet>
  <app-reactive-form *ngIf="loginSuccess === 'false'" (childEvent)="loginSuccess=$event"></app-reactive-form>

  <!--
  <app-registrierung ></app-registrierung>
  -->

</div>
<br>


