<br>

<br>


<div>
  
  <h4 class="text-success"> {{ titleHome }}</h4>

  
  <mat-tab-group>
     
    <mat-tab label="Component"> <img src="../../assets/images/component.png"/> </mat-tab>
      <mat-tab label="Module"> <img src="../../assets/images/module.png"/> </mat-tab>
      <mat-tab label="index.html"> <img src="../../assets/images/index.png"/>   </mat-tab>
      <mat-tab label="styles.css"> <img src="../../assets/images/styles.png"/>   </mat-tab>
    </mat-tab-group>


  <br>  <br> 
  <div>





    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Angular Architecture Overview 
        </mat-panel-title>
     
      </mat-expansion-panel-header>

      <img src="../../assets/images/overview.png"/>
    
      
    </mat-expansion-panel>


  </div>


</div>


