<div class="container">
  <br>
  <div class="jumbotron">
    <app-material></app-material>
  </div>
  <!--
  <div class="jumbotron">
    <h4 class="text-success"> {{ componentHttpClient }}</h4>
    <br>



    <!--
    
      <button class="btn-info"  (click)="getObservPostsForUser()"> Get ObservAnyPosts</button>&nbsp;&nbsp;


      <button class="btn-info" (click)="createPost()"> Create Post</button>


      {{newPost | async | json}}
    ->

    <div class="container">




      <h1>Flüge suchen</h1>



      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Von" [(ngModel)]="von" name="von" required>

        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Nach" [(ngModel)]="nach" name="nach" required>
        </mat-form-field>

      </div>





      <button mat-raised-button color="accent" (click)="search()">Suchen</button>


      <table class="table table-condensed table-hover table-striped">




        <thead *ngIf="fluege">
          <tr>
            <th>Id</th>
            <th>Abflugort</th>
            <th>Zielort</th>
            <th>Datum</th>
            <th>FreiePlaetze</th>
          </tr>
        </thead>


        <tr *ngFor="let flug of fluege | async">


          <td>{{flug.id}}</td>


          <td>{{flug.abflugort | uppercase}}</td>


          <td>{{flug.zielort}}</td>


          <td>{{flug.datum | date: 'fullDate' | uppercase}}</td>

          <td>{{flug.freiePlaetze | freiePlaetzePipe: flug.freiePlaetze}}</td>


        </tr>


      </table>



    </div>
  </div>
-->