<div class="container">
<div class="jumbotron" style="width: 60%;">

  <form  (ngSubmit)="handelForm()"  >
  <h2> Edit User </h2>
    <div class="form group">
        <label for="id"><h4>Id</h4>  </label>
      <input type="text" name="id" class="form-control" [(ngModel)]="user.id"  disabled="true">
    </div>
    <div class="form group">
      <label for="fname"> <h4>First Name</h4> </label>
      <input type="text" name="fname" class="form-control" [(ngModel)]="user.fname">
    </div>
    <div class="form group">
      <label for="lname"><h4>Last Name</h4></label>
      <input type="text" name="lname" class="form-control" [(ngModel)]="user.lname">
    </div>

   
    <button mat-raised-button color="primary" >save</button>
  </form>


</div>
