<div>
  <div class="jumbotron">

    <h3 class="text-success"> {{ serviceValue }}</h3>

    <!--movieTitel mit raute ist eine template referenzvariable. -->
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input #movieTitel type="text" matInput placeholder="add a titel to List">
      </mat-form-field>
    </form>

    <button mat-raised-button color="primary" (click)="addOneItem(movieTitel.value)">Hinzufügen</button>&nbsp; &nbsp;

    <button mat-raised-button color="accent" (click)="removeOneItem()">remove item</button>

    <br>
    <br>

    <div [ngSwitch]="nbOfProducts">

      <div *ngSwitchCase="4">
        <h6 [style.color]="'blue'">Number of Products: {{nbOfProducts}}</h6>
      </div>
      <div *ngSwitchCase="5">
        <h6 [style.color]="'green'">Number of Products: {{nbOfProducts}}</h6>
      </div>
      <div *ngSwitchCase="6">
        <h6 [style.color]="'red'">Number of Products: {{nbOfProducts}}</h6>
      </div>

      <div *ngSwitchDefault></div>


    </div>





    <div>

      <mat-selection-list #shoes>
        <mat-list-option *ngFor="let item of recentlyProducts">
          {{item}}


          <div [ngSwitch]="item">

            <div *ngSwitchCase="java">
              <h6 [style.color]="'blue'">Number of Products: {{nbOfProducts}}</h6>
            </div>
            <div *ngSwitchCase="aa">
              <h6 [style.color]="'green'">Number of Products: {{nbOfProducts}}</h6>
            </div>
            <div *ngSwitchCase="sun > 4">
              <h6 [style.color]="'red'">Number of Products: {{nbOfProducts}}</h6>
            </div>

            <div *ngSwitchDefault></div>


          </div>


        </mat-list-option>
      </mat-selection-list>

      <p>
        <span matBadge="{{shoes.selectedOptions.selected.length}}" matBadgeColor="accent">selected products</span>

      </p>



    </div>


  </div>

</div>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      service bereitstellen
    </mat-panel-title>

  </mat-expansion-panel-header>
  <img src="../../assets/images/service.png" />
</mat-expansion-panel>
<br>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      service konsumieren
    </mat-panel-title>

  </mat-expansion-panel-header>
  <img src="../../assets/images/product.png" />

</mat-expansion-panel>