<div class="container">
  <br>
  <div class="jumbotron">

    <br>
  

    <table style="width:100%">
      <tr>
        <td class="titel-Color">1 data binding: from class to Template</td>
        <td class="titel-Color">2 event binding: from Template to class</td>
        <td class="titel-Color">3 Two way data binding</td>
      </tr>
      <tr>
        <td> 

          <h4>the Date is {{dateMessage}}</h4> 
        
        </td>

        <td>  
      <button *ngIf="isCollapsed" type="button" class="btn btn-info"   (click) = "toggleCollapse()">Expand </button>
      <button *ngIf="!isCollapsed" type="button" class="btn btn-info"  (click) = "toggleCollapse()">Collapse </button>             
       <div *ngIf="!isCollapsed">Meine Daten: Name, Vorname...etc </div>

        </td>
       

          <td> 
            
            <input class="form-control" type="text" [(ngModel)]="name" onclick="">
            {{name}}
          
          </td>

      </tr>

    </table>
    



  </div>

  
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        1 Data binding: from class to Template
      </mat-panel-title>
   
    </mat-expansion-panel-header>
    <img src="../../assets/images/databinding2.png"/>
    <img src="../../assets/images/databinding1.png"/>
    
  </mat-expansion-panel>
 
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          2 Event binding: from Template to class  
        </mat-panel-title>
     
      </mat-expansion-panel-header>
      <img src="../../assets/images/eventbinding1.png"/>
      <img src="../../assets/images/eventbinding2.png"/>
     
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
              3 Two way data binding
          </mat-panel-title>
       
        </mat-expansion-panel-header>
        <img src="../../assets/images/twowaybinding1.png"/>
        <br>
        <img src="../../assets/images/twowaybinding2.png"/>
        
       
      </mat-expansion-panel>


  <br>