 
<div class="container" >
    
   <p [@exampleAnimation]= 'state' (click)= "animateMe()">
  
    <br>

      
       
      <mat-card class="person-card">

          <h3 class="text-success">{{ users.name }}</h3>


          <ul>
              <li><strong>Username:</strong> {{ users.username }}</li>
              <li><strong>Email:</strong> {{ users.email }}</li>
              <li><strong>Phone:</strong> {{ users.phone }}</li>
            </ul>
            

      </mat-card>
    

      <mat-card class="person-card">

          <h3 class="text-success">Address</h3>


          <ul>
              <li><strong>street:</strong> {{users.address.street}}</li>
              <li><strong>city:</strong> {{users.address.city}}</li>
              <li><strong>zipcode:</strong> {{users.address.zipcode}}</li>
              <li><strong>suite:</strong> {{users.address.suite}}</li>
            </ul>


      </mat-card>    

    </p>
  

    <br>

  </div>
 
     
