<div>

<h2>Suche Pixabay Bilder</h2>
<br>




    <div class="form-group row">
   
    <div style="padding-left: 100px;">
        <label for="pixa">
        
          <a class="example-link" href="https://pixabay.com/api/docs/" target="_blank">
            https://pixabay.com/api/docs/</a>
        
        </label>
      <input class="form-control" [(ngModel)]="imagekey" type="text" >
   
      <br>

    <button mat-raised-button color="accent" (click)="searchImages(imagekey)"> search Images</button>
    </div>
  </div>

  <p>{{errorMessage}}</p>

    <br>


    <div  *ngIf="images">

  <div *ngFor="let img of images.hits"  style="float: left;  padding-left:1em;">
      <div class="panel panel-primary">
          <div class="panel-heading" style="color:green ;">{{img.tags | slice:0:18 }}....</div>
          <div class="panel-body"> <img src="{{img.previewURL}}" /></div>
          <div class = "panel-footer" style="background-color:lavenderblush;">{{img.user}}</div>
        </div>
      </div>
    </div>  

      <br>
</div>




<br>