

<br>
<!--
<app-registrierung></app-registrierung>

-->

<div class="jumbotron" @explanerAnimation>



  <p class="comp" style="float: left;  padding-left:1em;">
    <img src="../../assets/images/comp1.png" />
  </p>


  <p class="comp" style="float: left;  padding-left:1em;">
    <img src="../../assets/images/servic1.png" />
  </p>


  <p class="comp" style="float: left;  padding-left:1em;">
    <img src="../../assets/images/direct1.png" />


    <p class="comp" style="float: left;  padding-left:1em;">
      <img src="../../assets/images/rout1.png" />
    </p>



    <p class="comp" style="padding-left:1em;">
      <img src="../../assets/images/pipe.png" />
    </p>

    <h4 class="comp" style="padding-left:5em;">
        Arbeitsumgebung = Node.js + NPM  + Angular CLI + Visual Studio Code
    </h4>

</div>

